extends layout

block content
  .container(name=_id)#main


  script()#detailsTemplate.
   <div id="{{_id}}"><h1>Details for {{name}}.</h1><h4>{{address}}</h4><canvas id="canvas"></canvas></div>

block scripts
  script(src='/javascripts/each.js')
