extends layout

block content
  .container(name=_id)#main


  script()#detailsTemplate.
    <div id="{{_id}}"><h1>Details for {{name}}.</h1><h3>Created on: {{createdon}}</h3><h4>Located at: <span>{{address}}</span></h4><div class="row"><canvas id="canvas"></canvas></div><div class="panel panel-default col-md-4"><div class="panel-body"><form role="form"><div class="form-group"><label for="pixelSize">Pixel Size</label><input id="pixelSize" class="form-control" min="2" max="14" value="4" type="number"></input></div></form></div></div></div>

block scripts
  script(src='/javascripts/each.js')
