extends layout

block content
  .container 
    h1 Live Scoreboards
    #scoreboards

    #add_scoreboard(role="tablist" aria-multiselectable="true").panel-group
      .panel.panel-default
        .panel-heading(role="tab")#add
          a.btn.btn-default(data-toggle="collapse", data-parent="add_scoreboard", href="#collapse", aria-expanded="false", aria-controls="collapse")
            span.glyphicon.glyphicon-plus
        #collapse.panel-collapse.collapse(role='tabpanel', aria-labelledby="add")
          .panel-body
            .row
              form(role="form")#newScoreboard
                .form-group.col-md-4
                  label(for="name") Board Name
                  input(type="text", name="name", placeholder="Name").form-control#name
        
                .form-group.col-md-4
                  label(for="address") Board Location
                  .input-group
                    input(type="text", name="address", placeholder="http://127.0.0.1").form-control#address
                    span.input-group-btn
                      button.btn.btn-default(type="button", onclick="testConnection(this); return false;") Test
        
                .form-group.col-md-4
                  label(for="hpc") Column Count
                  input(type="number", name="hpc", placeholder="120").form-control#hpc
        
                .form-group.col-md-4
                  label(for="vpc") Row Count
                  input(type="number", name="vpc", placeholder="8").form-control#vpc
        
                .form-group.col-md-4
                  label(for="lps") LEDs per Strip
                  input(type="number", name="lps", placeholder="240").form-control#lps
            .row.add-row
              button.btn.btn-primary(onclick="addScoreboard();return false;") Submit

    script()#scoreboardTemplate.
      <div id="{{_id}}" class="panel panel-info"><div class="panel-heading"><a href="/{{_id}}" title="scoreboard details">{{name}}</a><a class="pull-right" onclick="removeScoreboard(this); return false;" data-toggle="tooltip" data-placement="left" title="remove item"><span class="glyphicon glyphicon-minus"></span></a></div><div class="panel-body">{{address}}</div></div>

  

block scripts
  script(src="/javascripts/index.js")
